@import "mixins/mixins";
@import "common/var";

@include b(querySelect) {
}

.query-select {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.is-reverse {
  transform: rotate(180deg);
}

::v-deep {
  .el-input__inner {
    cursor: pointer;
  }

  .el-form-item--mini.el-form-item {
    margin-bottom: 0;
  }

  .el-pagination {
    margin-top: 5px;
  }

  .el-table__header {
    font-size: 14px;
  }

  .el-table__row {
    font-size: 14px;
    cursor: pointer;
  }

  .el-table__body tr.current-row>td {
    background: transparent;
    color: #4385ff;
  }

  .el-table__body tr.multi-selected-row>td {
    color: #4385ff;
  }
}

.qs-content {
  display: flex;
  flex-direction: column;
}

.qs-table {
  padding-bottom: 5px;
  width: 100%;
  position: relative;
}

.qs-query {
  padding: 5px;
  display: flex;
  align-items: center;

  .query-form {
    flex-grow: 1;

    ::v-deep {
      .el-input__inner {
        cursor: auto;
      }

      .el-form-item__label {
        font-size: 14px;
        color: #272727;
        margin-top: 1.5px;
      }
    }

    padding-right: 10px;
    border-right: 1px solid #ddd;
  }

  .query-footer {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;

    .el-button {
      margin: 0 5px;
    }
  }
}

.qs-tags {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  overflow-x: auto;

  &::v-deep {
    .el-tag {
      margin: 2px 0 2px 6px;
    }

    .el-tag.el-tag--info .el-tag__close {
      // background-color: #5a6073;
      color: #5a6073;
    }

    .el-tag.el-tag--info .el-tag__close:hover {
      background-color: #909399;
      color: white;
    }
  }
}

.qs-search-input {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 2px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 28px;
  line-height: 28px;
  outline: none;
  padding: 0 10px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  margin: 1px 0;

  &:hover {
    border-color: #c0c4cc;
  }

  &:focus {
    outline: none;
    border-color: #409eff;
  }

  &::placeholder {
    color: #c0c4cc;
  }
}

.el-popper {
  z-index: 10000;
}
